<%= render 'filters' %>

<div class="row store-listing-header">
  <div class="col-md-3">Title</div>
  <div class="col-md-2">Author</div>
  <div class="col-md-2">Published Date</div>
  <div class="col-md-1">Price</div>
  <div class="col-md-3">Category</div>
</div>

<div class="store-book-list">
  <%= render @books %>
</div>

<%= paginate @books %>
