 @import "bootstrap-sprockets";
 @import "bootstrap";

.container {
  font-size: 18px;
}

.store-listing-header {
  font-weight: bold;
}

.store-top-bar {
  margin-top: 1em;
  margin-bottom: 2em;
}

.store-order-field {
  float: right;
}
