@import "bootstrap-sprockets";
@import "bootstrap";
@import "carts";
@import "orders";

.container {
  font-size: 18px;
  color: #333;
}

.header {
  margin-bottom: 2em;
}

fieldset {
  border: 2px #111 solid;
}

input {
  max-width: 300px;
}

.cart-display {
  text-align: center;
}

.logout-link {
  float: right;
}

.store-listing-header {
  font-weight: bold;
}

.store-top-bar {
  margin-top: 1em;
  margin-bottom: 2em;
}

.store-order-field {
  float: right;
}

.store-book-list {
  a {
    color: #333;
    text-decoration: none;
  }
}

#book-show-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: -0.25em;
}

#book-show-author {
  font-size: 14px;
}
