.cart-listing-header{
  font-weight: bold;
}

.cart-total-row {
  font-weight: bold;
  margin-top: 5%;
}

.cart-item-quantity .cart-quantity-field {
  text-align: right;
  width: 50px;
}

.cart-quantity-submit {
  float: right;
}

.cart-item-row {
  margin-bottom: 1em;
}
