// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart-total-row {
  margin-top: 5%;
}

.cart-item-quantity input[type='text'] {
  width: 50px;
  text-align: right;
}

.cart-quantity-submit {
  float: right;
}

.cart-item-row {
  margin-bottom: 1em;
}
