<h1>Admin Dashboard</h1>
<p><%= link_to 'Create a new admin', '#' %></p>
<p><%= link_to 'List a new book for sale', new_admin_api_book_path %></p>
<p><%= link_to 'View a list of orders', admin_api_orders_path %></p>
